#page-success {
    height: 100vh;
    width: 100vw;
    background-color: var(--color-success);

    display: flex;
    justify-content: center;
    align-items: center;
}

#page-success .grid-template {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 122px;
    align-items: center;
    justify-items: center;
}

#page-success .grid-template strong {
    font-size: 80px;
    font-weight: 900;
    display: block;
    text-align: center;
    line-height: 1;
}

#page-success .grid-template .description p {
    max-width: 392px;
    text-align: center;
    margin: 32px 0;
    font-size: 24px;
}

#page-success .grid-template .btn-success {
    background-color: #31B272;
    border: 0;
    width: 243px;
    height: 64px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 0.5s;
    text-decoration: none;
}

#page-success .grid-template .btn-success:hover {
    background-color: #3BD689;
}